/* CSS definition file containing sitestyle stylesheets */
BODY { font-family: Arial,        Helvetica,        Geneva,        Sans-serif; color: rgb(153,153,153); text-decoration: none ; background-color: rgb(255,255,255); background-image: none}
 A:active { font-family: Arial; font-size: 14px; color: rgb(186,202,202); font-weight: normal; text-decoration: none }
 A:link { font-family: Arial,        Helvetica,        Geneva,        Sans-serif; font-size: 14px; color: rgb(153,153,153); font-weight: normal; text-decoration: none }
 A:visited { font-family: Arial; font-size: 14px; color: rgb(153,153,153); font-weight: normal; text-decoration: none }
 .TextObject { color: rgb(153,153,153)}
 P { color: rgb(153,153,153)}
 .TextNavBar { font-family: Arial,        Helvetica,        Geneva,        Sans-serif; font-size: 14px;
	font-weight : normal}
 .nof_GlasgowAquaOrangeBanners2-Banner1 {
font-family:Verdana; font-size:24px; font-weight:700; font-style:normal; color:#330066 
}

.nof_GlasgowAquaOrangeNavbar4-Regular {
font-family:Trebuchet MS ; font-size:10px; font-weight:400; font-style:normal; color:#330066 
}

.nof_GlasgowAquaOrangeNavbar5-Rollover {
font-family:Trebuchet MS ; font-size:10px; font-weight:700; font-style:normal; color:#330066 
}

.nof_GlasgowAquaOrangeNavbar6-Highlighted {
font-family:Trebuchet MS ; font-size:10px; font-weight:700; font-style:normal; color:#330066 
}

.nof_GlasgowAquaOrangeNavbar7-HighlightedRollover {
font-family:Trebuchet MS ; font-size:10px; font-weight:700; font-style:normal; color:#330066 
}

.nof_GlasgowAquaOrangeNavbar9-Regular {
font-family:Trebuchet MS ; font-size:10px; font-weight:400; font-style:normal; color:#330066 
}

.nof_GlasgowAquaOrangeNavbar10-Rollover {
font-family:Trebuchet MS ; font-size:10px; font-weight:700; font-style:normal; color:#330066 
}

.nof_GlasgowAquaOrangeNavbar11-Highlighted {
font-family:Trebuchet MS ; font-size:10px; font-weight:700; font-style:normal; color:#330066 
}

.nof_GlasgowAquaOrangeNavbar12-HighlightedRollover {
font-family:Trebuchet MS ; font-size:10px; font-weight:700; font-style:normal; color:#330066 
}
A{	font-size : 14px;
	color : rgb(153,153,153);
	font-weight : normal;
	font-family : Arial
}
A:hover { font-family: Arial; font-size: 14px; color: rgb(186,202,202); font-weight: normal; text-decoration: none }
 
